.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
  display: flex;
  font-size: 30px; }

.blog {
  background-color: #0000ff;
  width: 100%;
  padding: 30px;
  display: flex; }
  .blog .process-list {
    margin-top: 20px;
    margin-bottom: 36px; }
    .blog .process-list .process {
      margin-bottom: 25px; }
      .blog .process-list .process > div > h3 {
        color: red;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 500; }
      .blog .process-list .process > div > p {
        color: #135359;
        margin: 0; }
      .blog .process-list .process .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center; }
        .blog .process-list .process .process-icon img {
          height: 100%; }
  .blog button {
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px; }
